@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria:  #6fa9fa;
    --font-primaria: "Montserrat", sans-serif;
    --font-secundaria: "Krona One", sans-serif;
}

*{ 
    margin:0;
    padding:0;
} /*reset css*/


body {
    /* height: 80vh; */
    font-size: 1.5rem;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    
}

.cabecalho{
    padding: 2% 0% 0% 4%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__item{
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
      
}

h1 {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}



.apresentacao{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 4%;
    gap: 4%;
}

.apresentacao__conteudo{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__conteudo__titulo{ 
    font-size: 2.25rem;
}


.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__links__subtitulo { 
    font: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-terciaria);
    padding: 20px 0;
    border-radius: 8px;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__link:hover{
    background-color: rgba(39, 39, 39, 1);
    ;
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    background-color: var(--cor-terciaria);
    padding: 23.5px;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;

    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__imagem{
        width: 85%;
    }
}   